<ion-header>
  <ion-navbar>
    <ion-title>
      Home-page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <blockquote *ngIf="quote">
          <p>{{quote.quote}}</p>
          <footer>
            <cite>{{quote.author}}</cite>
          </footer>
        </blockquote>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <button ion-button full (click)="getQuote()">More quotes</button>
  </ion-footer>


  <!--
  <ion-list inset>
    <ion-item *ngFor="let user of users">
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </ion-item>
  </ion-list>
  -->
</ion-content>
